.hr {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: var(--divider);
  border: none;
}

.totals {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.totalCard {
  /* padding-bottom: 0; */
}

.title {
  margin-bottom: 0;
}

.value {
  font-family: monospace;
}

.number {
  text-align: right;
}

.details {
  width: 100%;
  padding-bottom: .4em;
  display: grid;
  grid-template-columns: 1fr repeat(5, min-content);
  row-gap: 0.3em;
  column-gap: .5em;
  transition: height ease 200ms;
  position: relative;
}

.details * {
  font: .7rem monospace;
  min-width: 0;
}

.details :nth-child(6n) {
  font-weight: bold;
}

.details :last-child {
  grid-column: 1/-1;
  border-top: 2px dotted white;
}

.totalLine {
  display: flex;
  justify-content: space-between;
}

.totalLine * {
  font-family: monospace;
}

.again {
  background-color: var(--green) !important;
}

.again:hover {
  background-color: var(--green);
}

.again:active {
  background-color: var(--green);
}