.fileForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.fileInput {
  width: 100%;
  font-size: inherit;
}

.message {
  padding: 0.3em 0.5em;
  border-radius: .3em;
  text-align: center;
  font-size: inherit;
}

.success.message {
  background-color: var(--bg-success);
  color: var(--color-success);
}

.error.message {
  background-color: var(--bg-error);
  color: var(--color-error);
}