:root {
  --bg-start: rgb(8, 90, 198);
  --bg-end: rgb(0, 187, 255);
  --bg-gradient: to bottom, var(--bg-start), var(--bg-end);

  --bg-overlay-active: rgba(0, 0, 0, 0.6);
  --bg-overlay-hover: rgba(0, 0, 0, 0.4);
  --bg-overlay: rgba(0, 0, 0, 0.3);
  --bg-container: rgba(19, 19, 19, 0.5);

  --color-primary: white;

  --bg-success: rgb(166, 233, 161);
  --color-success: #333;

  --bg-error: rgb(247, 177, 177);
  --color-error: rgb(124, 8, 8);

  --bg-input-btn: rgba(99, 99, 99, 0.7);
  --green: #1faa42;
  --divider: rgba(197, 197, 197, 0.6);
}

*, *::after, *::before {
  color: var(--color-primary);
}

.bg-gradient {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(var(--bg-gradient));
  background-image: linear-gradient(var(--bg-gradient));
}

.success {
  background-color: var(--bg-success) !important;
}

.success,
.success * {
  color: var(--color-success) !important;
  opacity: 1;
}

.error {
  background-color: var(--bg-error) !important;
}

.error,
.error * {
  color: var(--color-error) !important;
  opacity: 1;
}

.app {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container {
  max-width: 320px;
  width: 100%;
  padding: 1rem 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-container);
  border-radius: 20px;
  color: white;
  font-size: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-top: 0.2rem;
}



.btn-container {
  display: flex;
  gap: .5rem;
}

[class$="-btn"] {
  width: fit-content;
  background-color: var(--bg-overlay);
  border: none;
  border-radius: .3em;
  padding: .6em 1em .4em;
  color: inherit;
  font-size: 1.2rem;
}

[class$="-btn"]:hover {
  cursor: pointer;
  background-color: var(--bg-overlay-hover);
}

[class$="-btn"]:active {
  background-color: var(--bg-overlay-active);
}

.next-btn {
  background-color: rgb(0, 128, 255) !important;
}

.next-btn:hover,
.next-btn:focus {
  filter: brightness(90%);
}

.next-btn:active {
  filter: brightness(80%);
}

.next-btn:disabled {
  cursor: not-allowed;
  filter: grayscale();
}

.again-btn {
  background-color: var(--green) !important;
}

.again-btn:hover {
  background-color: var(--green);
}

.again-btn:active {
  background-color: var(--green);
}

.notification {
  background: var(--bg-container);
  padding: 0.5rem 0.3rem 0.3rem 0.5rem;
  border-radius: 10px;
  font-size: smaller;
  text-align: center;
  color: white;
}

hr {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: var(--divider);
  border: none;
}

.message {
  font-size: 0.9rem;
}

.totals-container {
  width: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: center;
}

.totals {
  width: 100%;
  padding: .8em .8em .7em;
  display: flex;
  flex-direction: column;
  gap: .4em;
  background-color: var(--bg-overlay);
  border-radius: .3em;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}