@import url("./assets/styles/success.css");

:root {
  --bg-start: rgb(8, 90, 198);
  --bg-end: rgb(0, 187, 255);

  --bg-overlay-active: rgba(0, 0, 0, 0.6);
  --bg-overlay-hover: rgba(0, 0, 0, 0.4);
  --bg-overlay: rgba(0, 0, 0, 0.3);
  --bg-overlay-light: rgba(0, 0, 0, 0.15);

  --color-primary: white;

  --bg-input-btn: rgba(99, 99, 99, 0.7);
  --green: #1faa42;
  --divider: rgba(197, 197, 197, 0.6);
}

*, *::after, *::before {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: var(--color-primary);
}

.app {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: no-repeat fixed center/cover linear-gradient(to bottom, var(--bg-start), var(--bg-end));
}

.notification {
  background: var(--bg-container);
  padding: 0.5rem 0.3rem 0.3rem 0.5rem;
  border-radius: 10px;
  font-size: smaller;
  text-align: center;
  color: white;
}
