:root {
  --bg-start: rgb(8, 90, 198);
  --bg-end: rgb(0, 187, 255);
  --bg-gradient: to bottom, var(--bg-start), var(--bg-end);

  --bg-overlay-active: rgba(0, 0, 0, 0.6);
  --bg-overlay-hover: rgba(0, 0, 0, 0.4);
  --bg-overlay: rgba(0, 0, 0, 0.3);
  --bg-container: rgba(19, 19, 19, 0.5);

  --color-primary: white;

  --bg-filled: rgb(166, 233, 161);
  --color-filled: #333;

  --bg-input-btn: rgba(99, 99, 99, 0.7);
  --green: #1faa42;
  --divider: rgba(156, 197, 215, 0.8);
}

*, *::after, *::before {
  color: var(--color-primary);
}

.bg-gradient {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(var(--bg-gradient));
  background-image: linear-gradient(var(--bg-gradient));
}

.filled {
  background-color: var(--bg-filled) !important;
}

.filled,
.filled * {
  color: var(--color-filled) !important;
  opacity: 1;
}

.app {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container {
  width: 275px;
  padding: 1rem 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-container);
  border-radius: 20px;
  color: white;
}

.title {
  font-size: 1.5rem;
  margin-top: 0.2rem;
}

.names-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.name-form {
  width: 100%;
  position: relative;
  font-size: 0.9rem;
  border: none;
  background-color: var(--bg-overlay);
  border-radius: 4px;
  transition: background 100ms ease-in;
  color: var(--color-secondary);  
  overflow: hidden;
}

.name-form .name-input {
  color: var(--color-primary) !important; 
}

.name-input {
  background-color: var(--bg-overlay);
  opacity: 0.5;
  width: 100%;
  border: none;
  padding-top: 5px;
  padding-left: 5px; 
  padding-right: 24px;
}

.name-input * {
  opacity: 1;
}

.name-input::placeholder {
  opacity: 1;
}

.name-input:hover {
  background-color: var(--bg-overlay-hover) !important;
  opacity: 0.75;
}

.name-input:focus {
  outline: none;
  opacity: 1;
  background-color: var(--bg-overlay-active);
}

.cross-in-circle {
  padding: 0 .1em 0 .1em;
  margin: 0;
}

.cross-in-circle-btn {
  visibility: hidden;
  display: grid;
  margin-left: -24px;
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  padding: 0 !important;
  top: 50%;
  right: 0;
  z-index: 200;
  place-items: center;
  fill: var(--bg-input-btn);
  transform: translateY(-50%);
  background: none !important;
}

:focus + .cross-in-circle-btn,
.cross-in-circle-btn:hover {
  visibility: visible;
}

.cross-in-circle-btn:hover {
  filter: brightness(150%);
}

.cross-in-circle-btn:active {
  filter: brightness(200%);
}

.file-input {
  width: 100%;
}

.btn-container {
  display: flex;
  gap: .5rem;
  /* margin-top: 10px; */
}

[class$="-btn"] {
  width: fit-content;
  background-color: var(--bg-overlay);
  border: none;
  border-radius: .3em;
  padding: .6em 1em .4em;
  color: inherit;
  font-size: 1rem;
}

[class$="-btn"]:hover {
  cursor: pointer;
  background-color: var(--bg-overlay-hover);
}

[class$="-btn"]:active {
  background-color: var(--bg-overlay-active);
}

.next-btn {
  background-color: rgb(0, 128, 255) !important;
}

.next-btn:hover,
.next-btn:focus {
  filter: brightness(90%);
}

.next-btn:active {
  filter: brightness(80%);
}

.next-btn:disabled {
  cursor: not-allowed;
  filter: grayscale();
}

.again-btn {
  background-color: var(--green) !important;
}

.again-btn:hover {
  background-color: var(--green);
}

.again-btn:active {
  background-color: var(--green);
}

.file-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.notification {
  background: var(--bg-container);
  padding: 0.5rem 0.3rem 0.3rem 0.5rem;
  border-radius: 10px;
  font-size: smaller;
  text-align: center;
  color: white;
}

.filled {
  background-color: var(--bg-filled) !important;
}

.filled,
.filled * {
  color: var(--color-filled) !important;
}

.items {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.item {
  background-color: var(--bg-overlay);
  padding: .8em;
  border-radius: .4em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  transition: all 250ms;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item-details span{
  font: 0.9rem monospace;
  opacity: 0.6;
}

.filled .item-details span {
  opacity: 1;
}

.item-details .item-name {
  font-size: 1.2rem;
}

.item-names {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: .3em;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  column-gap: .5em;
  row-gap: .5em;
}

.item-names-input {
  display: none;
}

.item-names-label {
  cursor: pointer;
  user-select: none;
  padding: 0.3em 0.3em 0.2em;
  background-color: var(--bg-overlay);
  border-radius: 0.3em;
  transition: all 100ms;
  opacity: 0.5;
}

.item-names-label:hover {
  background-color: var(--bg-overlay-hover);
  opacity: 0.9;
}

:checked + .item-names-label{
  background-color: rgba(255, 255, 255);
  color: #333;
  opacity: 1;
}

hr {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: var(--divider);
  border: none;
}

.message {
  font-size: 0.9rem;
}