.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.itemTitle {
  font-size: 1.2rem;
}

.itemSubtitle {
  font-family: monospace;
}

.namePicker {
  /* height: min-content; */
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  column-gap: .5em;
  row-gap: .8em;
}

.namePicker .nameLabel {
  background-color: var(--bg-overlay);
}

.nameLabel:hover {
  background-color: var(--bg-overlay-hover);
}

.itemCardActions .itemCardAction:hover {
  opacity: 1;
}


.success.itemContainer {
  background-color: var(--bg-success-secondary);
}

.success .itemCard {
  background-color: var(--bg-success);
}

.success .itemCard * {
  color: var(--color-success);
}

.success .itemCardAction {
  color: var(--color-success);
  opacity: 0.8;
}

/* .success :not(:checked)~.nameLabel {
  color: var(--color-primary);
} */