.items {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.itemContainer {
  display: flex;
}

.itemContainer:not(:last-child) {
  margin-bottom: 10px;
}

.itemCard {
  padding: .8em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex: 1 1 auto;
  background-color: var(--bg-overlay);
  border-radius: .4em;
  transition: all 250ms;
}

.itemDetails span {
  font: 0.9rem monospace;
  opacity: 0.6;
}

.itemTitle {
  font-size: 1.2rem;
}

.itemNames {
  padding: 0;
  margin: 0;
  margin-top: .3em;
  display: flex;
  flex-wrap: wrap;
  column-gap: .5em;
  row-gap: .8em;
  list-style-type: none;
}

.itemNamesInput {
  display: none;
}

.itemNamesLabel {
  cursor: pointer;
  user-select: none;
  padding: 0.3em 0.3em 0.2em;
  background-color: var(--bg-overlay);
  border-radius: 0.3em;
  transition: all 100ms;
}

.itemNamesLabel:hover {
  background-color: var(--bg-overlay-hover);
}

:checked~.itemNamesLabel {
  background-color: rgba(255, 255, 255);
  color: #333;
}

.itemActions {
  padding-left: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 0.5em;
}

.itemAction {
  cursor: pointer;
  width: 2.5em;
  aspect-ratio: 1;
  background-color: var(--bg-overlay);
  border: none;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.itemAction:hover {
  background-color: var(--bg-overlay-hover);
}

.itemAction:active {
  background-color: var(--bg-overlay-active);
}

.itemAction * {
  font: 1rem monospace;
}