.optionsCard {
  width: 100%;
}

/* .optionsTitle {
  align-self: center;
} */

.optionsRows {
  display: flex;
  flex-direction: column;
}

.optionRow {
  display: flex;
  align-items: center;
  gap: .5em;
}

.items {
  width: 100%;
  display: grid;
  align-items: start;
  gap: var(--gap);
}

@media (min-width: 45rem) {
  .itemsContainer {
    width: 100%;
  }

  .items {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

.itemTitle {
  font-size: 1.2rem;
}

.itemSubtitle,
.itemSubtitle *{
  font-family: monospace;
}

.namePicker {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: .6em;
}

.namePicker .nameLabel {
  background-color: var(--bg-overlay);
}

/* :checked~.nameLabel{
  outline: 3px solid green;
} */

.nameLabel:hover {
  background-color: var(--bg-overlay-hover);
}

.itemCardActions .itemCardAction:hover {
  opacity: 1;
}


.success.itemContainer {
  background-color: var(--bg-success-secondary);
}

.success .itemCard {
  background-color: var(--bg-success);
}

.success .itemCard * {
  color: var(--color-success);
}

.success .itemCardAction {
  color: var(--color-success);
  opacity: 0.8;
}

/* .success :not(:checked)~.nameLabel {
  color: var(--color-primary);
} */